.form-row {
    margin-top: 15px
}

.form-col {
    margin-left: 10px;
}

.form-volume-select {
    width: 70px;
}

.form-table-num-input {
    width: 50px;
}
.note-table .table-row {
    display: flex;
    margin-bottom: 10px;
}
.note-table .table-cell {
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.note-table .string-box {
    line-height: 30px;
    width: 40px;
}
.note-table .note-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.note-table .note-flag {
    line-height: 15px;
    width: 35px;
    height: 15px;
}